@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

body{
	background: linear-gradient(to right, #838282, #a8a6a6);
	margin: 0;
	padding: 0;
}


.resume{
	width: 10in;
	height: 14.15in;
	background: rgb(255, 255, 255);
	margin-left: auto;
	margin-right:auto;
	-webkit-box-shadow: 0 0 50px rgb(204, 208, 209);
	box-shadow: 50 50 50px rgb(228, 225, 225);
}

.Upper{
	height:4in;
	width:10in ;
	background-color: #e1e2e4;
	display:flex;
}
.up-left{
	width: 3.4in;
	background-color: #ddd078;

}
.up-left-up{
	height: 1.5in;
	background-color: #e27e28;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 44%);
}
.social-contact{
	display: flex;
}

.social-title{
	width: 130px;
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin-left: 20px;
	padding-top: 20px;
	text-decoration: underline 3px;
}
.so-fi-col{
	margin-left: 20px;
}
.so-sec-col{
	margin-left: 10px;
}
.social-link{
	
	margin-top: 20px;
}
.icon-link{
	display: flex;
	margin-bottom: 5px;
}
.so-icon{
	width: 30px;
	height: 30px;
	background-color: white;
	text-align: center;
	padding-top: 8px;
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
	margin-right: 5px;
	
}
.so-icon a{
	text-decoration: none;
	color:#e27e28;
}
.up-lef-margin{
	height: .02in;
	background-color: #ddd078;
}
.up-left-dwn{
	height: 3.25in;
	background-color: #1cb7b3;
	clip-path: polygon(0 0, 100% 26%, 100% 100%, 0 100%);

	margin-top: -74px;
	
}
.objective{
	padding-top: 90px;
	padding-left: 10px;
	font-size: 16px;
	font-weight: 600;
	color: white;
	text-align: center;

}
.obj-line{
	height: 3px;
	width:100px;
	background-color: white;
	margin-left: 120px;
}
.obj-detail{
	margin-top:10px;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
	margin-right: 20px;
	color:white;
}
.up-mid{
	width: 3.2in;
	background-color: #c81f48;
}
.image{
	height: 200px;
	width: 180px;
	background-color: rgb(0, 0, 0);
	margin-top: 20px;
	margin-left: 65px;
	clip-path: polygon(51% 0, 51% 0, 100% 22%, 100% 76%, 49% 100%, 0 76%, 0 21%);
}
img{
	height: 185px;
	width: 165px;
	clip-path: polygon(51% 0, 51% 0, 100% 22%, 100% 76%, 49% 100%, 0 76%, 0 21%);
	margin-left:8px;
	margin-top: 8px;
}
.name-1{
	text-align: center;
	margin-top: 5px;
	font-size: 40px;
	color:white;
}
.name-2{
	text-align: center;
	font-size: 40px;
	color:white;
	font-weight:100;
	margin-top: -4px;
}
.deseg{
	font-size: 17px;
	height: 30px;
	width: 250px;
	background-color: wheat;
	text-align: center;
	margin-left: 30px;
	margin-top: 5px;
	padding-top: 3px;
	clip-path: polygon(50% 0%, 100% 0, 100% 0, 88% 53%, 100% 100%, 50% 100%, 0 100%, 13% 51%, 0 0, 0 0);
	
}
.up-right{
	width: 3.4in;
	background-color: #ddd078;
}
.up-ri-up{
	height: 1.5in;
	background-color: #e27e28;
	clip-path: polygon(0 0, 100% 0, 100% 43%, 0 100%);
}
.contact{
	display: flex;
}
.contact-col{
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
}
.c-type-icon{
	display: flex;
	margin-bottom: 5px;
}
.c-icon{
	height: 25px;
	width: 25px;
	background-color: white;
	text-align: center;
	padding-top: 3px;
	color:#e27e28;
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}
.c-type{
	font-size: 13px;
	color:white;
	margin-top: 6px;
	margin-left: 4px;
}
.c-type a{
	color:white;
}
.con-title{
	font-size: 16px;
	font-weight: 700;
	color: white;
	margin-top: 40px;
	margin-left: 40px;
	text-decoration: underline 3px;
}
.up-ri-margin{
	height: .02in;
	background-color: #ddd078;
}
.up-ri-dwn{
	height: 3.25in;
	background-color: #1cb7b3;
	clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 100%);


	margin-top: -74px;
	
}
.lang-title{
	padding-top: 100px;
	font-size: 16px;
	color:white;
	text-align: center;
	font-weight: 600;
}
.lang-line{
	height: 3px;
	width: 100px;
	background-color: white;
	margin-left: 114px;
	margin-bottom: 10px;
}
.lnag-row{
	display: flex;
}
.lang-name-num-dot{
	margin-left: 40px;
}
.lang-name{
	font-size: 14px;
	color:white;
	font-weight: 600;
}
.lang-num{
	font-size: 40px;
	color:white;
	font-weight: bold;
	margin-left: 8px;
}
.lang-dot{
	display: flex;
}
.yes{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: white;
	margin-left: 2px;
}
.no{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #09908a;
	margin-left: 2px;
}
.middle{
    display: flex;
	height:4.15in;
	width:10in ;
	background-color:#dac583 ;
}
.edu-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	margin-left: 25px;
}
.edu-line{
	height: 2px;
	width: 120px;
	background-color:#d38829;
	margin-left: 25px;
	margin-bottom: 1px;
}
.edu-row{
	display: flex;
	margin-left: 25px;
	margin-top: 20px;
}
.edu-yr{
	height:70px;
	width: 20px;
	background-color:#ce731c ;
	margin-right: 10px;
	clip-path: polygon(51% 6%, 100% 0, 100% 0, 100% 57%, 100% 100%, 48% 93%, 0 100%, 0 50%, 0 0, 0 0);
}
.yr{
	transform: rotate(270deg);
	margin-top: 35px;
	font-size: 12px;
	font-weight: bold;
	color: white;

}
.edu-deg{
	font-size: 18px;
	color:black;
	font-weight: 700;
	margin-top: 8px;
}
.edu-inst{
	font-size: 16px;
	font-weight: 600;
}
.cgpa{
	font-size: 12px;
	font-weight: 700;
}
.hr-line{
	width: 1px;
	height: 4in;
	background-color:#d6cfa6 ;
	margin-left: 20px;
	
}
.exp-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	margin-left: 25px;
}
.exp-detail{
	margin-left: 20px;
	width: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.yr-company-role{
  display: flex;
  margin-bottom: 4px;
}
.exp-yr{
	height: 40px;
	width: 40px;
	color:white;
	text-align: center;
	margin-right: 10px;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	background-color:#d38829 ;
	font-size: 12px;
	padding-top: 6px;
}
.exp-com{
	font-size: 18px;
	color: black;
	font-weight: 700;
}
.exp-role{
	font-weight: 700;
	font-size: 16px;
	color:black;
}
.exp-bref{
	font-size: 12px;
	color:black;
	line-height: 18px;
	text-align: justify;
}
.ac-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	margin-left: 25px;
}
.ac-detail{
	margin-top: 20px;
	margin-left: 20px;
}
.ac-row{
	display: flex;
	margin-bottom: 10px;
}
.ac-icon{
	margin-right: 5px;
	margin-top: 2px;
}
.ac-name{
	font-size: 18px;
	font-weight: 500;
	margin-right: 5px;
}
.lower{
	height:6in;
	width:10in ;
	background-color: #e1e2e4;
	display: flex;
}
.skills{
	width: 3in;
	height: 6in;
	background-color: #28312b;
}
.skill-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	margin-left: 25px;
}
.skill-d-row{
	display: flex;
}
.skill-row{
	display: flex;
	margin-left: 20px;
	margin-top: 10px;
}
.skill-ins{
	height: 25px;
	width: 25px;
	clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    padding: 5px 0px 0px 0px;
	margin-right: 10px;
	text-align: center;
}
.skill-name{
	font-size: 12px;
	font-weight: 600;
	color:white;
}
.stars{
	display: flex;
	margin-top: 2px;
}
.star-y{
	height: 10px;
	width: 10px;
	background-color:#d38829 ;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	margin-left: 4px;
}
.star-n{
	height: 10px;
	width: 10px;
	background-color:#ffffff ;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	margin-left: 4px;
}
.nj{
	background-color: #53a8c1;
	color:white;
	font-size: 14px;
	font-weight: bold;
}
.pj{
	background-color: #046804;
	color:white;
	font-size: 14px;
	font-weight: bold;
}
.projects{
	width:5in;
	background-color: #a41a3b;
}
.pro-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	margin-left: 25px;
}
.project-col{
	margin-left: 20px;
	margin-top: 10px;
}
.pro-row{
	display: flex;
	margin-bottom: 4px;
}
.pro-link{
	height: 30px;
	width: 30px;
	color:white;
	text-align: center;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	background-color:#d38829 ;
	font-size: 12px;
	padding-top: 6px;
	margin-right: 10px;
}
.pro-name a{
	color:white;
	font-size: 18px;
	
}
.pro-name{
	margin-top: 5px;
}
.pro-link i{
	margin-top: 3px;
}
.pro-detail{
	font-size: 12px;
	text-align: justify;
	color:white;
	margin-right: 20px;
	line-height: 18px;
}
.reference-hob{
	width: 2in;
	background-color: #28312b;
}
.ref-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	text-align: center;
}
.ref-detail{
	text-align: center;
	margin-top: 10px;
}
.ref-name{
	font-size: 16px;
	font-weight: 600;
	color:white;
	margin-bottom: 3px;
}
.ref-role{
	font-size: 14px;
	font-weight: 500;
	color:white;
	margin-bottom: 3px;
}
.ref-com{
	font-size: 14px;
	font-weight: 400;
	color:white;
	margin-bottom: 3px;
}
.ref-mail{
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 10px;
	
}
.ref-mail a{
	color:white;
}
.ref-line{
	margin-left: 35px;
}
.hob-title{
	font-size: 20px;
	font-weight: 700;
	color:#d38829;
	margin-top: 20px;
	text-align: center;
}
.hobs{
	margin-top: 10px;
	margin-left: 63px;
}
.hob-name-icon{
	width: 70px;
	height: 50px;
	background-color: #d38829;
	padding-top: 1px;
	border: solid 1px white;
	border-radius: 5px;
	margin-bottom: 4px;
}
.hob-icon{
	align-items: center;
	margin-left: 23px;
	margin-top: 4px;
}
.hob-name{
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: underline;

}